
/*------------------------------- Font */



@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900');

body {
    font-family: "Barlow Condensed", sans-serif;
}



/*------------------------------- Header */



header {
    border: 1px solid #000;
    border-radius: 15px;
    min-height: 4em;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.logo {
    font-size: 2.5em;
    font-weight: 200;
    letter-spacing: 0.1em;
    color: #000;
    /* the logo was centered in html using <center> */
}

a:hover {
    text-decoration: none;
}



/*------------------------------- About-section */



.about {
    font-size: 0.9em;
    letter-spacing: 0.2em;
    font-weight: 200;
    padding: 1em;
    margin: 0;
    border: 1px solid #000;
    border-radius: 15px;
}



/*------------------------------- Main-section */



.main-section{
    border: 1px solid #000;
    border-radius: 15px;
}



/*------------------------------- First-sub-section - (left-side) */



.left-side {
    padding-top: 7.5em;
}

.question{
    font-size: 2.2em;
    font-weight: 100;
    letter-spacing: 0.1em;
    padding-left: 2.2em;
    padding-bottom: 1.2em;
}

.answers {
    border: 1px solid #000;
    border-radius: 15px;
    width: 80%;
    min-height: 3em;
    padding: 1.5em;
    margin: auto;
}

label {
    padding-left: 1.2em;
    padding-right: 0.3em;
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 0.1em;
}



/*------------------------------- Second-sub-section - (right-side)*/



.right-side {
    padding-top: 5em;
    /* the right-side was centered in html using <center> */
}

.right-side p {
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 0.2em;
}

.right-side h3 {
    font-size: 2.1em;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.listen,
.see,
.eat {
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

.eat {
    padding-bottom: 3.5em;
}

.music,
.film,
.food {
    width: 65%;
    min-height: 10em;
    border: 1px solid #000;
    border-radius: 15px;
}



/*------------------------------- Footer*/



.contact {
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 0.2em;
    float: left;
    padding-top: 0.5em;
    padding-right: 1em;
}

 footer {
    border: 1px solid #000;
    border-radius: 15px;
    min-height: 3.5em;
 }